In [1]:
import pandas as pd
import os

In [2]:
list_of_files = os.listdir('./data')
list_of_files

['salaries.csv',
 'dept_emp.csv',
 'dept_manager.csv',
 'departments.csv',
 'titles.csv',
 'employees.csv']

In [3]:
df_list = []
for file in list_of_files:
    df = pd.read_csv(f'./data/{file}')
    df_list.append((file, df))

In [4]:
for file, df in df_list:
    print(file)
    print(df.info())
    print(df.isna().sum())
    print('\n')

salaries.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   emp_no  300024 non-null  int64
 1   salary  300024 non-null  int64
dtypes: int64(2)
memory usage: 4.6 MB
None
emp_no    0
salary    0
dtype: int64


dept_emp.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331603 entries, 0 to 331602
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   emp_no   331603 non-null  int64
 1   dept_no  331603 non-null  object
dtypes: int64(1), object(1)
memory usage: 5.1+ MB
None
emp_no     0
dept_no    0
dtype: int64


dept_manager.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dept_no  24 non-null     object
 1   emp_no   24 non-null     int64
dtypes: int64(1), object(1)
memory usage: 516.0+ bytes
None
dept_no    0
emp_no     0
dtype: int64


departments.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dept_no    9 non-null      object
 1   dept_name  9 non-null      object
dtypes: object(2)
memory usage: 276.0+ bytes
None
dept_no      0
dept_name    0
dtype: int64


titles.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title_id  7 non-null      object
 1   title     7 non-null      object
dtypes: object(2)
memory usage: 244.0+ bytes
None
title_id    0
title       0
dtype: int64


employees.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   emp_no        300024 non-null  int64
 1   emp_title_id  300024 non-null  object
 2   birth_date    300024 non-null  object
 3   first_name    300024 non-null  object
 4   last_name     300024 non-null  object
 5   sex           300024 non-null  object
 6   hire_date     300024 non-null  object
dtypes: int64(1), object(6)
memory usage: 16.0+ MB
None
emp_no          0
emp_title_id    0
birth_date      0
first_name      0
last_name       0
sex             0
hire_date       0
dtype: int64

In [5]:
for file, df in df_list:
    print(file)
    print(df.shape)
    for column in df.columns:
        print(f'column: {column} has all unqiue values:\n', df[column].unique().shape[0] == df.shape[0])

salaries.csv
(300024, 2)
column: emp_no has all unqiue values:
 True
column: salary has all unqiue values:
 False
dept_emp.csv
(331603, 2)
column: emp_no has all unqiue values:
 False
column: dept_no has all unqiue values:
 False
dept_manager.csv
(24, 2)
column: dept_no has all unqiue values:
 False
column: emp_no has all unqiue values:
 True
departments.csv
(9, 2)
column: dept_no has all unqiue values:
 True
column: dept_name has all unqiue values:
 True
titles.csv
(7, 2)
column: title_id has all unqiue values:
 True
column: title has all unqiue values:
 True
employees.csv
(300024, 7)
column: emp_no has all unqiue values:
 True
column: emp_title_id has all unqiue values:
 False
column: birth_date has all unqiue values:
 False
column: first_name has all unqiue values:
 False
column: last_name has all unqiue values:
 False
column: sex has all unqiue values:
 False
column: hire_date has all unqiue values:
 False

In [6]:
list_of_files

['salaries.csv',
 'dept_emp.csv',
 'dept_manager.csv',
 'departments.csv',
 'titles.csv',
 'employees.csv']

In [8]:
#view primary key title_id to see if it is numeric it is not
df_list[4][1].head()

  title_id               title
0    s0001               Staff
1    s0002        Senior Staff
2    e0001  Assistant Engineer
3    e0002            Engineer
4    e0003     Senior Engineer